<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Copyright (C) 2017 Till Uhlig <till.uhlig@student.uni-halle.de>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    <description>
      Servlet and JSP Examples.
    </description>
    <display-name>Servlet and JSP Examples</display-name>
    
    <servlet>
        <servlet-name>SQaLibur</servlet-name>
        <servlet-class>sqalibur.SQaLibur</servlet-class>
         <load-on-startup>2</load-on-startup>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>PROCESS</servlet-name>
        <servlet-class>ostepu.process.process</servlet-class>
         <load-on-startup>3</load-on-startup>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>CCONFIG</servlet-name>
        <servlet-class>ostepu.cconfig.cconfig</servlet-class>
         <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SQaLibur</servlet-name>
        <url-pattern>/sql/*</url-pattern>
        <url-pattern>/process/*</url-pattern>
        <url-pattern>/testcase/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PROCESS</servlet-name>
        <url-pattern>/course/*</url-pattern>
        <url-pattern>/link/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>CCONFIG</servlet-name>
        <url-pattern>/info/*</url-pattern>
        <url-pattern>/help/*</url-pattern>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    
<security-constraint>
<web-resource-collection>
<web-resource-name>restricted methods</web-resource-name>
<url-pattern>/*</url-pattern>
<http-method>OPTIONS</http-method>
<http-method>TRACE</http-method>
</web-resource-collection>
<auth-constraint />
</security-constraint>
</web-app>
